
#scrollerClipper {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000;
  background-color: #ffc;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 40px;
  overflow: hidden;
}

.block-taxonomy_ticker .content {
  height: 40px;  /* the same as the height of #scrollerClipper */
}

#outerscrollPane {
  width: 2000px;  /* large enough to hold all the content */
}

#scrollPane {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
}

#firstscrollerContentItem {
  width: 200px;  /* the same as the width of #scrollerClipper */
  margin: 5px 5px 0px;
  padding: 2px;
  float: left;
}

#lastscrollerContentItem {
  float: left;
  width: 0;
}

.scrollerContentItem {
  margin: 5px 5px 0px;
  padding: 2px;
  float: left;
}
