
#scrollerClipper {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000;
  background-color: #ffc;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 75px;
  overflow: hidden;
}

.block-taxonomy_ticker .content {
  height: 75px;  /* the same as the height of #scrollerClipper */
}

.scrollerContentItem {
  margin: 5px 5px 0px;
  padding: 2px;
}

#scrollPane {
  position: relative; 
  top: 0px;
  left: 0px;
}

#firstscrollerContentItem {
  height: 75px;  /* the same as the height of #scrollerClipper */
  margin: 5px 5px 0px;
  padding: 2px;
}

#lastscrollerContentItem {
  height: 0;
}

